body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE5E2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="time"],
input[type="file"],
input[type="submit"],
.cerrar {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
.cerrar {
    background-color: #DDDFD1;
    color: #000000;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
.cerrar:hover {
    background-color: #C2C4B2;
}

/* Diseño para el botón "Elegir Archivo" */
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #DDDFD1;
    color: #000000;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #C2C4B2;
}

.caceta {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.caceta h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.caceta form {
    margin: 20px 0;
}

.caceta form label {
    font-size: 16px;
    color: #333;
}

.caceta form input {
    font-size: 16px;
    color: #333;
}


.cerrar-sesion-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #DDDFD1;
    color: #000000;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cerrar-sesion-button:hover {
    background-color: #C2C4B2;
}