body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE5E2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#datos {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#datos td, #datos th {
    border: 1px solid #DDDFD1;
    padding: 8px;
    text-align: left;
}

#datos th {
    background-color: #4CAF50;
    color: white;
}

#datos tr:nth-child(odd) {
    background-color: #DDDFD1;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #DDDFD1;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #EFE5E2;
    color: #000000;
}

h3 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.noSearch {
    display: none;
}

form {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

form:hover {
    background-color: #f0f0f0;
}